<div class="container jumbotron">
<h3 class="ui header">
  Welcome to CIS196 Reddit!
  <div class="sub header">
    Go check out the front page of CIS196! <br>
      <a id="top-btn" class="btn btn-primary" href="/posts/top"> Top </a>
      <a id="new-btn" class="btn btn-primary" href="/posts/newest"> New </a>
  </div>
</h3>
</div>
